In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [25]:
# A dictionary of high schools and the type of school.
types = [{"High School": "Griffin", "Type": "District"},
                     {"High School": "Figueroa", "Type": "District"},
                     {"High School": "Wilson", "Type": "Charter"},
                     {"High School": "Wright", "Type": "Charter"}]

for dic in range(len(types)):
    print(types[dic])
    
# print(high_school_types[1])

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [26]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [27]:
import pandas as pd

In [28]:
# create a pandas series from a list.
school_series = pd.Series(high_schools)

In [29]:
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [30]:
school_series[3]

'Hernandez High School'

In [33]:
for i in range(len(school_series)):
    print(school_series[i])

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [34]:
school_series[1]

'Figueroa High School'

In [35]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [36]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [37]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [38]:
#Initialize a new DataFrame
schools_df = pd.DataFrame()

In [40]:
#add the list to a new dataframe
schools_df["School ID"] = school_id

schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [41]:
schools_df["school_name"] = school_name
schools_df["type"] = type_of_school
schools_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [43]:
high_schools_dict = {"School ID": school_id, "school_name": school_name, "type": type_of_school}
high_schools_dict

{'School ID': [0, 1, 2, 3, 4],
 'school_name': ['Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Hernandez High School',
  'Griffin High School'],
 'type': ['District', 'District', 'Charter', 'District', 'Charter']}

In [45]:
school_dict_df = pd.DataFrame(high_schools_dict)

In [46]:
school_dict_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [47]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [48]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [49]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [50]:
ts = ["District", "District", "Charter", "District", "District", "Charter", "District", "District", "Charter", "District", "District", "Charter", "District", "District", "Charter"]

In [51]:
new_school_df = pd.DataFrame()

In [52]:
new_school_df["school_Name"] = school_series
new_school_df["type"] = ts

In [53]:
new_school_df

              school_Name      type
0       Huang High School  District
1    Figueroa High School  District
2     Shelton High School   Charter
3   Hernandez High School  District
4     Griffin High School  District
5      Wilson High School   Charter
6     Cabrera High School  District
7      Bailey High School  District
8      Holden High School   Charter
9        Pena High School  District
10     Wright High School  District
11  Rodriguez High School   Charter
12    Johnson High School  District
13       Ford High School  District
14     Thomas High School   Charter